<h1>{{facilities}}</h1>
<p><h1>Senior Living Facilities {{title}}</h1></p>

 <body background="">

<h1> </h1>
<p><a href=""></a></p>
<p>     </p>

</body>
</html>


 
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

     <img src="http://www.bronxmall.com/cal/Seniors.jpg">

		<link rel="stylesheet" type="text/css" href=stylesheets/style.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href=stylesheets/style.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		
		
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Admin</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Find quaility and comfort</h1>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">

				<p><img src="http://ca-dublin.civicplus.com/images/Facilities/4/ballroom%20small.jpg"></p>


				<h2> 
    
					   <uL>  
					    <li>Morningside of Alpharetta
					    street: '253 N Main St.',
					    city: 'Alpharetta',
					    state: 'GA',
					    contact: '(770) 410-9169'</li>
					    <br>
					    <li>'Autumn Leaves of Windward',
					    street: '3300 Webb Bridge Rd',
					    city: 'Alpharetta',
					    state: 'GA',
					    contact: '(770) 291-6263',</li>
					    <br>
					    <li>'Crabapple Hall',
					    street: '200 Pine Valley Dr',
					    city: 'Alpharetta',
					    state: 'GA',
					    contact: '(770) 664-9264',</li>
					    <br>
					    <li>"Dogwood Square
					    street: 253 N Main St.
					    city: Alpharetta
					    state: GA,
					    contact: (770) 442-3841,"</li>
					    </uL>
                </h2>
						
					
        <a href="/facilities" class="btn btn-default">Main Page</a>

		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
	</body>
</html>
