<h1>Facility Access</h1>

 <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

 <img src="https://image.freepik.com/free-vector/nature-background-of-a-grassy-landscape_1048-1305.jpg" alt="image">
 <h2> 
    
   <uL>  
    <li>Morningside of Alpharetta
    street: '253 N Main St.',
    city: 'Alpharetta',
    state: 'GA',
    contact: '(770) 410-9169'</li>
    <br>
    <li>'Autumn Leaves of Windward',
    street: '3300 Webb Bridge Rd',
    city: 'Alpharetta',
    state: 'GA',
    contact: '(770) 291-6263',</li>
    <br>
    <li>'Crabapple Hall',
    street: '200 Pine Valley Dr',
    city: 'Alpharetta',
    state: 'GA',
    contact: '(770) 664-9264',</li>
    <br>
    <li>"Dogwood Square
    street: 253 N Main St.
    city: Alpharetta
    state: GA,
    contact: (770) 442-3841,"</li>
    </uL>
   </h2>


<a href="/index" class="btn btn-default">Main Page</a>
